body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}

li {
    list-style: none;
    background: #ddd;
    margin: 5px;
    padding: 5px;
}
